<h3>
    Think of dancer dancing or a human just walking the street. It is extremely unnatural to think that each part of the body acts independently. A centralized mechanism controls all parts in order to produce a smooth, elastic and natural movement. The "motor cortex", is the specific part of the brain that does exactly this job.
</h3>
<hr>
<div>
<small>
    MotorCortex.js aspires to mimic the human brain's motor cortex by providing a new layer of software abstraction that handles and describes the movement of the various elements of an html application in a way that all timed effects doesn't interfere with the logic (decision making) layer of the software.
</small>
</div>
<div class="columns2 first">
    We are in the rising of HTML5 and javascript empire and currently there is a war going on between various technologies, IDEs, frameworks etc. Focusing on the javascript frameworks we can count at least 6 important of them. All have special characteristics, pros and cons, each has its specific logic though all share one thing in common:
    <br/>They all are MV* frameworks. Thus, developers write code for an application they:
    <br/>- identify the "model"
    <br/>- create a "view" and "attach" it on a DOM element
    <br/><br/>
    Even when working with collections the result is always the same. The part of code that controls, updates and represents a model on the DOM is isolated in the scope of an object (or a module). This fact combined with the event-driven asynchronous nature of the language itself, leads all javascript applications to one, common characteristic:
    They seem to have a "robotic" movement, an "inelastic" feel just like a production line. Various elements that "listen" to events, "robotically" do their job, change their state and alter their position independently from the others. The movement is not natural.
</div>
<div class="columns2 second">
    Think of dancer dancing or a human just walking the street. It is extremely unnatural to think that each part of the human acts independently. A centralized mechanism controls all parts in order to produce a smooth and elastic movement. The "motor cortex", is the specific part of the brain that does exactly this job.
    <br/><br/>
    The tool is the "motor cortex" of web apps. I has been built to operate along with any MV* framework and it provides a new way to control state changes of an application in a centralized manner-way. It resembles CSS but it also includes some more specific features (as we are not talking about static appearance characteristics but for changes-animations of those characteristics) like:
    <br/>- durations
    <br/>- delays
    <br/>- sequence of steps (do this, then do that)
</div>