<h2>MotorCortex.js</h2>
<h3>What is it?</h3>
<hr>
<div>
    <small>
        MotorCortex makes web animations easy, providing the ability to describe them through CSS-like syntax and stop messing animation logic with your actual javascript code
    </small>

    <div class="banner"></div>

    <div class="columns1">
        <p>
            The "motor cortex" is the part of the human brain that controls the movement of the whole body. This centralized control of the body's muscles movement achieved by this very part of the brain is the one that's responsible for the smooth, harmonic and "natural" movement of it.
        </p>
        <p>
            MotorCortex.js aspires to mimic the human brain's motor cortex by providing a new layer of software abstraction that handles and describes the movement of the various elements of an html application in a way that all timed effects doesn't interfere with the logic (decision making) layer of the software and plus each "transition" is treated as a matter of the whole application body and not of each element alone.
            And all this with an easy and straight forward CSS-like syntax and a js API that respects and matches all the modern MV* javascript frameworks.
        </p>
    </div>

</div>
