body {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 25px;
}
body h3 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 30px;
}
.logo {
  position: fixed;
  top: 4px;
  left: 11px;
  color: maroon;
}
.sidebar {
  top: 80px;
  width: 300px;
  height: auto;
  float: left;
  margin-right: 4px;
  z-index: 2;
  position: fixed;
}
.sidebar .menuItem {
  background-color: #FFF;
  position: relative;
  opacity: 0;
  width: 276px;
  height: 38px;
  font-size: 14px;
  color: darkcyan;
  border: 1px solid #333333;
  padding: 10px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  /* FF3.7+ */
  -o-transition: background 0.2s linear;
  /* Opera 10.5 */
  -webkit-transition: background 0.2s linear;
  /* Saf3.2+, Chrome */
}
.sidebar .menuItem.selected {
  background-color: #009E9E;
  color: #FFF;
}
.sidebar .menuItem:hover {
  background-color: darkcyan;
  color: #FFF;
}
.mainContent {
  margin-left: 320px;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  width: 800px;
  float: left;
  padding: 10px 20px;
  color: #333333;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}
.mainContent a {
  color: maroon;
  text-decoration: none;
}
.mainContent small {
  line-height: 15px;
}
.mainContent .page {
  opacity: 0;
}
.mainContent .page b {
  color: maroon;
}
.mainContent .page .exampleContainer {
  width: 100%;
  height: 350px;
  padding-top: 10px;
  border-top: 1px solid maroon;
}
.mainContent .page .exampleContainer.menuExample {
  height: 550px;
  background-color: #fefefe;
}
.mainContent .page .examplebutton {
  background-color: maroon;
  color: #FFF;
  padding: 6px 10px;
  cursor: pointer;
}
.mainContent .page .examplebutton:hover {
  background-color: #911111;
}
.mainContent .page h3 {
  margin-top: 15px;
  font-size: 18px;
  text-shadow: 1px 0px 1px #ffffff;
  color: darkcyan;
}
.mainContent .page h2 {
  font-family: 'Corben', Georgia, Times, serif;
  margin-top: 18px;
  color: maroon;
  text-shadow: 1px 0px 1px #ffffff;
  font-size: 22px;
}
.mainContent .page h4 {
  color: darkcyan;
  font-size: 16px;
}
.mainContent .page small {
  color: maroon;
  text-align: center;
}
.mainContent .page .columns1 {
  justify-content: space-between;
  color: maroon;
  width: 100%;
  margin-top: 25px;
}
.mainContent .page .columns2 {
  color: maroon;
  float: left;
  margin-top: 25px;
  width: 48%;
}
.mainContent .page .columns2.first {
  padding-right: 2%;
}
.mainContent .page .columns2.second {
  padding-left: 2%;
}
.mainContent .contentLoader {
  width: 100%;
  overflow: hidden;
  height: 600px;
  top: 0px;
  left: 0;
  height: 80%;
  position: fixed;
  padding-top: 20%;
  text-align: center;
  background-color: #fff;
  position: absolute;
  z-index: 4;
}
.mainContent .contentLoader.hdn {
  display: none;
}
#loader {
  font-size: 38px;
  position: absolute;
  z-index: 2;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 80%;
  padding-top: 20%;
  background-color: #FFF;
}
#loader div {
  width: 100%;
  text-align: center;
}
/* graphs example */
.bar {
  width: 10%;
  height: 350px;
  position: relative;
  float: left;
}
.bar .percentage {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0%;
  background-color: #000;
}
.bar .number {
  z-index: 2;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #2d6987;
  font-size: 24px;
  font-weight: bold;
}
/* menu items example */
.listContainer {
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.listContainer .listitem {
  width: 386px;
  padding: 6px;
  height: 32px;
  margin-bottom: 4px;
  border: 1px solid #2d6987;
  cursor: pointer;
}
