#dummybodyid {
  width: 100%;
}
body {
  overflow-x: hidden;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 25px;
}
body .eightzerozero {
  width: 800px;
}
body .hdn {
  display: none;
}
body a:hover {
  background-color: maroon;
  color: #FFF;
}
body h3 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 30px;
}
.withop {
  opacity: 0.8;
}
.logo {
  top: 7px;
  left: 11px;
  color: maroon;
}
.logo h3 {
  margin-top: 17px;
  margin-bottom: 2px;
}
.github-buttons {
  width: 100%;
  height: 20px;
  margin-top: 6px;
}
.mainContent .social {
  width: 100%;
  height: 35px;
  text-align: right;
  background-color: #f7f7f7;
  padding-top: 4px;
}
.mainContent .social .moto {
  float: left;
  color: darkcyan;
  padding-left: 6px;
  padding-top: 4px;
  text-shadow: 1px 0px 1px #ffffff;
}
.mainContent .social .twitter {
  float: right;
  padding-right: 6px;
}
@media (max-width: 1155px) {
  .logo {
    position: relative;
  }
  .sidebar {
    position: relative;
    float: left;
    width: 90%;
    top: 15px;
  }
  .sidebar .menuItem {
    width: 100%;
  }
  .mainContent {
    width: 96%;
    float: left;
    margin-top: 80px;
    padding: 2%;
  }
  .columns1,
  .columns2 {
    justify-content: space-between;
    color: maroon;
    width: 100%;
    margin-top: 25px;
  }
}
@media (min-width: 1156px) AND (min-height: 690px) {
  .side-about {
    bottom: -100px;
    position: fixed;
    color: maroon;
  }
  .side-about a {
    color: maroon;
    text-decoration: none;
  }
}
@media (min-width: 1156px) AND (max-height: 689px) {
  .side-about {
    top: 550px;
    position: fixed;
    color: maroon;
  }
  .side-about a {
    color: maroon;
    text-decoration: none;
  }
}
@media (max-width: 1155px) {
  .side-about {
    position: relative;
    padding-top: 50px;
    color: maroon;
    width: 100%;
    height: auto;
    height: 230px;
    display: none;
  }
  .side-about a {
    color: maroon;
    text-decoration: none;
  }
}
@media (min-width: 1156px) {
  .logo {
    position: fixed;
  }
  .sidebar {
    top: 81px;
    position: fixed;
    width: 300px;
  }
  .sidebar .menuItem {
    width: 276px;
  }
  .mainContent {
    width: 800px;
    margin-left: 320px;
    padding: 9px 20px 10px 20px;
  }
  .columns1 {
    justify-content: space-between;
    color: maroon;
    width: 100%;
    margin-top: 25px;
  }
  .columns2 {
    color: maroon;
    float: left;
    margin-top: 25px;
    width: 48%;
  }
  .columns2.first {
    padding-right: 2%;
  }
  .columns2.second {
    padding-left: 2%;
  }
}
.sidebar {
  height: auto;
  float: left;
  margin-right: 4px;
  z-index: 2;
}
.sidebar a {
  text-decoration: none;
}
.sidebar .menuItem {
  background-color: #FFF;
  position: relative;
  opacity: 0;
  height: 38px;
  font-size: 14px;
  color: darkcyan;
  border: 1px solid #333333;
  padding: 10px;
  margin-bottom: 4px;
  cursor: pointer;
  transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  /* FF3.7+ */
  -o-transition: background 0.2s linear;
  /* Opera 10.5 */
  -webkit-transition: background 0.2s linear;
  /* Saf3.2+, Chrome */
}
.sidebar .menuItem.download {
  background-color: maroon;
  color: #FFF;
}
.sidebar .menuItem.selected {
  background-color: #009E9E;
  color: #FFF;
}
.sidebar .menuItem:hover {
  background-color: darkcyan;
  color: #FFF;
}
.mainContent {
  position: relative;
  z-index: 1;
  opacity: 0;
  background-color: #fff;
  float: left;
  color: #333333;
  min-height: 600px;
  overflow: hidden;
}
.mainContent a {
  color: maroon;
  text-decoration: none;
}
.mainContent small {
  line-height: 15px;
}
.mainContent .page {
  padding-top: 4px;
  opacity: 0;
}
.mainContent .page b {
  color: maroon;
}
.mainContent .page .exampleContainer {
  width: 100%;
  height: 350px;
  padding-top: 10px;
  border-top: 1px solid maroon;
}
.mainContent .page .exampleContainer.menuExample {
  height: 550px;
  background-color: #fefefe;
}
.mainContent .page .examplebutton {
  background-color: maroon;
  color: #FFF;
  padding: 6px 10px;
  cursor: pointer;
}
.mainContent .page .examplebutton:hover {
  background-color: #911111;
}
.mainContent .page h3 {
  margin-top: 15px;
  font-size: 18px;
  text-shadow: 1px 0px 1px #ffffff;
  color: darkcyan;
}
.mainContent .page h2 {
  font-family: 'Corben', Georgia, Times, serif;
  margin-top: 18px;
  color: maroon;
  text-shadow: 1px 0px 1px #ffffff;
  font-size: 22px;
}
.mainContent .page h4 {
  color: darkcyan;
  font-size: 16px;
}
.mainContent .page small {
  color: maroon;
  text-align: center;
}
.mainContent .contentLoader {
  width: 100%;
  overflow: hidden;
  height: 600px;
  top: 50px;
  left: 0;
  height: 80%;
  position: fixed;
  padding-top: 20%;
  text-align: center;
  background-color: #fff;
  position: absolute;
  z-index: 4;
}
.mainContent .contentLoader.hdn {
  display: none;
}
#loader {
  font-size: 38px;
  position: absolute;
  z-index: 2;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 80%;
  padding-top: 20%;
  background-color: #FFF;
}
#loader img {
  margin-top: 10px;
}
#loader div {
  width: 100%;
  text-align: center;
}
/* graphs example */
.bar {
  width: 10%;
  height: 350px;
  position: relative;
  float: left;
}
.bar .percentage {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0%;
  background-color: #000;
}
.bar .number {
  z-index: 2;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #2d6987;
  font-size: 24px;
  font-weight: bold;
}
/* menu items example */
.listContainer {
  width: 400px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.listContainer .listitem {
  width: 386px;
  padding: 6px;
  height: 32px;
  margin-bottom: 4px;
  border: 1px solid #2d6987;
  cursor: pointer;
}
.banner {
  -webkit-transform-origin: left, 50%;
  -ms-transform-origin: left, 50%;
  transform-origin: left, 50%;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  width: 789px;
  height: 350px;
  position: relative;
  overflow: hidden;
}
.banner .divsContainer {
  width: 820px;
  height: 350px;
  position: absolute;
  z-index: 1;
}
.banner .divsContainer .whiteRow {
  width: 45px;
  height: 350px;
  float: left;
}
.banner .divsContainer .whiteRow .actualWhite {
  width: 0;
  background-color: #FFF;
  height: 350px;
}
.banner .text {
  position: absolute;
  z-index: 2;
  width: 100%;
  text-align: center;
  left: 800px;
  top: 150px;
}
.banner .text.st3 {
  opacity: 0;
  left: 0;
  color: #FFF;
}
.banner .text.st4 {
  opacity: 0;
  left: 0;
}
.banner .text.st4 .slight {
  opacity: 0;
  color: #FFF;
}
.banner .text.st5 {
  top: 90px;
  left: 0;
  opacity: 0;
  font-size: 34px;
  color: #FFF;
}
.banner .text.st6 {
  left: 0;
  opacity: 0;
  top: 190px;
  font-size: 34px;
  color: #FFF;
}
.banner .text.st6 a {
  color: #FFF;
  text-decoration: underline;
}
.banner .text1 {
  color: darkcyan;
  font-size: 38px;
}
.banner .text2 {
  color: maroon;
  font-size: 30px;
}
.banner .text3 {
  font-family: 'Corben', Georgia, Times, serif;
  color: maroon;
  font-size: 28px;
}
#banner-1{
    width: 768px;
    height: 219px;
    overflow: hidden;
}

#banner-1 .container{
    position:relative;
    width:100%;
    height:100%;
}

#banner-1 .layer-1{
    top:-50px;
    z-index:0;
    position:absolute;
    width:1024px;
    height:292px;
    transform-origin:left top;
    transform-style: preserve-3d;
}

#banner-1 .player{
    z-index: 1;
    width:100%;
    height:200%;
    position: absolute;
    top:-380px;
    opacity: 0;
}

#banner-1 #player{
    width:100%;
    height:200%;
}

#banner-1 .hdn{
    display: none;
}

#banner-1 .layer-1 img{
    width:100%;
}

#banner-1 .info-rows{
    width:768px;
    height:219px;
    position: absolute;
    z-index: 2;
    top:0;
    left:0;
}


#banner-1 .info-row{
    overflow: hidden;
    opacity:0.5;
    height: 33.333%;
    width:100%;
    position: relative;
}

#banner-1 .info-row .text{
    position: relative;
    font-family: 'Hind', sans-serif;
    width:100%;
    padding-top:15px;
    font-size: 30px;
    text-align: center;
}

#banner-1 .trophies{
    opacity:0.8;
    position: absolute;
    z-index: 4;
    width:100%;
    height:100%;
}

#banner-1 .trophy{
    padding-top: 35px;
    font-size: 22px;
    font-family: 'Hind', sans-serif;
    width:251px;
    display: inline-block;
    height: 100%;
    text-align: center;
    color:white;
    margin-bottom:20px;
}

#banner-1 .trophy .howmany{
    font-size: 110px;
    padding-top:50px;
    height:80px;
    width:100%;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
    color:black;
    background-image: url("./images/aris-banner/trophy.png");
    background-repeat: no-repeat;
    background-position: center;
}

#banner-1 .logo{
    z-index: 6;
    top:0;
    left:-140px;
    position: absolute;
    height: 214px;
}

#banner-1 .logo img{
    height:100%;
}

#banner-1 .trophy .howmany.yellow{
    color:yellow;
}

#banner-1 .trophy .what{
    margin-top:20px;
    position:relative;
    top:33px;
    font-size: 0.83em;
}

#banner-1 .info-row.black{
    background: black;
    color:yellow;
    left:768px;
}

#banner-1 .info-row.black .text{
    left:100px;
}

#banner-1 .info-row.yellow .text{
    left:-100px;
}

#banner-1 .info-row.yellow{
    color:black;
    background: yellow;
    left:-768px;
}


#banner-1 .follow{
    z-index: 5;
    position: absolute;
    width:389px;
    left:141px;
    height: 100%;
    font-size: 32px;
    font-family: 'Alegreya Sans', sans-serif;
}

#banner-1 .follow-title{
    margin-top:15px;
    color:yellow;
    position: relative;
    width:100%;
    text-align: center;
    margin-bottom:10px;
}

#banner-1 .follow .icons a{
    display: block;
    cursor: pointer;
    font-size:14px;
    margin-bottom:12px;
    padding:8px 0;
    background: yellow;
    color:black;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: center;
    text-decoration: none;
}

#banner-1 .follow .icons a:hover{
    color:yellow;
    background: black;
}