<div class="text text1 st1">The motion of this website</div>
<div class="text text2 st2">is not something you've never seen before</div>
<div class="text text1 st3">It wasn't even designed by a designer!</div>
<div class="divsContainer">
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
    <div class="whiteRow">
        <div class="actualWhite"></div>
    </div>
</div>
<div class="text text3 st4">It has though <span class="one">one</span> <span class="slight">slight</span> <span class="difference">difference</span>:</div>
<div class="text text4 st5">All animations of this website</div>
<div class="text text2 st6">are defined <a href="./mc.mss" target="_blank">in this very file</a></div>